---
---

<html lang="en">  
<head>  
    <meta charset="utf-8" />  
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <meta name="generator" content="Astro.generator" />  
    <title>《网络编辑与制作》期末作业</title>  
    <style>  
        body {  
            background: linear-gradient(to right, #5fe4ff60, #f17bfe77);  
            display: flex;  
            flex-direction: column;  
            align-items: center; 
            justify-content: center; 
            height: 100vh; 
            margin: 0;
            padding: 20px; 
            box-sizing: border-box; 
        }  
  
        h1, h2, h3, h4, p {  
            text-align: center; 
            font-weight: bold; 
            color: rgb(21, 21, 21); 
            margin: 10px 0; 
        }  
  
        .nav-bar {  
            position: fixed;  
            top: 0; 
            left: 0;  
            width: 100%;
                display: flex;  
                justify-content: center;   
                background-color: #333;
                padding: 10px 0;
                margin-bottom: 20px;   
            }  
            
  
            .nav-bar a {  
                font-size: 18px; 
                font-weight: bold; 
                color: white;
                margin: 0 20px; 
                text-decoration: none;  
            }  
  
            .nav-bar a:hover {  
                color: #fff000; 
            }  
    </style>  
</head>  
<body>  
    <div class="nav-bar">  
        <a href="/">首页</a>  
        <a href="/about">关于</a>  
        <a href="/blog">博客</a>  
    </div>  
  
    <div class="content">  
        <div class="title-with-image">  
            <img src="https://sibfi.com/upload/portal/20210228/a292901ee2e4ea447e05d60d78507a4b.png" alt="Your Image" style="vertical-align: middle; margin-right: 30px;">
        <h1>《网络编辑与制作》期末作业</h1>  
        <h2>年级:2021级</h2>  
        <h3>班级:新闻学3班</h3>  
        <h4>小组成员:赵 芬 P211012641  
                    覃晓娟 P211012619  
                    马 琴 P211012625</h4>  
        <p>这是我们的期末作业</p>  
    </div>  
</body>  
</html>