---
---

<html lang="en">  
    <head>  
        <meta charset="utf-8" />  
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />  
        <meta name="viewport" content="width=device-width" />  
        <meta name="generator" content="{Astro.generator}" />  
        <title>《网络编辑与制作》期末作业</title>  
        <style>  
            body {  
            background: linear-gradient(to right, #5fd4ff7d, #fe7bf36a);  
            display: flex;  
            flex-direction: column;  
            align-items: center; 
            justify-content: center; 
            height: 100vh; 
            margin: 0;
            padding: 20px; 
            box-sizing: border-box; 
        }  
  
        h1, p,ul {  
            text-align: center; 
            font-weight: bold; 
            color: rgb(13, 13, 13); 
            margin: 10px 0; 
        }  
  
        .nav-bar {  
            position: fixed;  
            top: 0; 
            left: 0;  
            width: 100%;
                display: flex;  
                justify-content: center;   
                background-color: #333;
                padding: 10px 0;
                margin-bottom: 20px;   
            }  
  
            .nav-bar a {  
                font-size: 18px; 
                font-weight: bold; 
                color: white;
                margin: 0 20px; 
                text-decoration: none;  
            }  
  
            .nav-bar a:hover {  
                color: #fff000; 
            }  
    </style>  
        </style>  
    </head>  
    <body>  
        <div class="nav-bar">  
            <a href="/">首页</a>  
            <a href="/about">关于</a>  
            <a href="/blog">博客</a>  
        </div>  
  
        <h1>我们的Astro学习博客</h1>  
        <p>在这里展现我们的博客</p>  
        <ul>  
            <li><a href="/posts/post-1css/">第一篇博客文章</a></li>  
            <li><a href="/posts/post-2css/">第二篇博客文章</a></li>  
            <li><a href="/posts/post-3css/">第三篇博客文章</a></li>  
        </ul>  
    </body>  
</html>