---  
// 这里不需要额外的JavaScript或CSS导入（除非你想添加样式）  
---  
  
<nav>  
    <ul>  
        <li><a href="/">首页</a></li>  
        <li><a href="/logs/P1012641赵芬">P1012641赵芬的日志</a></li>  
        <li><a href="/logs/P211012619覃晓娟">P211012619覃晓娟的日志</a></li>  
        <li><a href="/logs/P211012625马琴">P211012625马琴的日志</a></li>  
    </ul>  
    <style>  
        /* 添加一些简单的样式（可选） */  
        nav {  
            background-color: #333;  
            padding: 10px;  
        }  
  
        nav ul {  
            list-style-type: none;  
            margin: 0;  
            padding: 0;  
            display: flex;  
            justify-content: space-around;  
        }  
  
        nav ul li a {  
            color: #fff;  
            text-decoration: none;  
            padding: 5px 10px;  
        }  
  
        nav ul li a:hover {  
            background-color: #666;  
        }  
    </style>  
</nav>